/* YOUR CUSTOM STYLES */
@media only screen and (min-width: 768px) {
.werkwijzecard{
    height: 360px;
}
.kwaliteitswaarborgencard{
    height: 630px;
}
.partnerscard{
    height: 432px;
}

}
@media only screen and (min-width: 768px) {
.logo{
    max-width: 40%;
}

.aboutme{
    max-width: 50%;

}
}
