/* YOUR CUSTOM STYLES */
@media only screen and (min-width: 768px) {
.logo{
    max-width: 45%;
}

}
@media only screen and (max-width: 768px) {
.logo{
    max-width: 80%;
}

.aboutme{
    max-width: 50%;

}
}

.partnerscard{
    max-height: 20vh;
}

.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}