/* YOUR CUSTOM STYLES */
@media only screen and (min-width: 768px) {
.logo{
    max-width: 45%;
}
.aboutme{
    max-width: 50%;

}
}


@media only screen and (max-width: 768px) {
.logo{
    max-width: 80%;
}


}

.partnerscard{
    max-height: 20vh;
}

.my-flex-card > div > div.card {
    height: 100%;
    height:-webkit-calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

:target:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}